* {
    color: coral;
}


body {
    background-color: rgb(153, 0, 255);
}

p,
h1 {
    color: rgb(255, 0, 55);
}

header {

    background-color: darkviolet;
    color: blueviolet;
    text-align: center;
    padding: 20px;
}

main {

    padding: 20px;
}

footer {

    background-color: darkviolet;
    color: blueviolet;
    text-align: center;
    padding: 20px;
}